/* src/app/page.module.scss */

.container {
  // max-width: 1200px;
  margin: 0 auto;
  // padding: 24px;
  margin: 100px 70px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  // text-align: center;  
}
.titleName{
  font-family: var( --font-green);
  color: var(--orange-color);
  margin-left: 10px;
}
.subTitle {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--btn-font-family);
  
}

.buttonGroup {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px; 
  justify-content: space-between; /* Розтягуємо елементи по краях */
  width: 100%; /* Забезпечуємо повну ширину */
  max-width: none; /* 👈 ВИДАЛЯЄМО ОБМЕЖЕННЯ */
  margin: 24px 0; /* Прибираємо auto-центрирування */
  
  // Додаємо тінь для всієї групи
  
}

.button {
  flex: 1 1 0; /* 👈 Забезпечуємо рівну ширину для всіх кнопок */
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
  border: 1px solid #ccc;   
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); 
  border-radius: 8px;    
}

/* Активна вкладка */
.buttonActive {
  background-color: var(--btn-color-orange); 
  color: white; 
  box-shadow: none; 
  z-index: 1; 
}

/* ... (Ваша адаптивність) ... */
@media (max-width: 768px) {
  .buttonGroup {
    /* Навіть на мобільних пристроях займає 100% */
    margin-left: 0;
    margin-right: 0;
  }
  .button {
    padding: 10px 10px;
  }
}