.container {
  font-family: var(--font-primary);
  color: var(--text-primary);
}

.titleName {
  font-size: 32px;
  font-weight: 700;
  font-family: var(--font-green);
  color: var(--orange-color);
  padding-right: 10px;
  margin: 20px 0;
}

.avatarContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid var(--accent-color-light);
  flex-shrink: 0;
  margin-bottom: 20px;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  font-size: 18px;
  font-family: var(--btn-font-family);
  margin-bottom: 16px;
}

.offerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  & h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  & span {
    margin-right: 10px;    
  }
  & div {
    padding-right: 10px;
  }
}

.contactContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.details {
  & p {
    display: flex;
    align-items: center;   
    gap: 5px;
  }
}

.iconPlaceholder {
  margin-right: 10px;
  font-size: 18px;
}

.socialIconContainer {
  display: flex;
  justify-content: space-evenly;
}
.socials {
  display: flex;
  flex-direction: column;
}

.iconTime svg {
  width: 32px;
  height: 32px;
}
.freeDelivery {
  font-family: var(--btn-font-family);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
