.orderForm {
    // background: #fff;
    // border-radius: 12px;
    // padding: 24px;
    // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    // max-width: 500px;
    margin: 32px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    h2 {
      // text-align: center;
      margin-bottom: 20px;
      font-size: 32px;
      // color: #333;
    }
  
    .form {
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      .field {
        display: flex;
        flex-direction: column;
  
        label {
          font-weight: 700;
          margin-bottom: 6px;
          font-size: 20px;
          // color: #555;
        }
  
        input {
          font-family: var(--btn-font-family);
          padding: 10px 12px;
          border: none;
          border-radius: 8px;
          font-size: 16px;
          transition: border-color 0.3s, box-shadow 0.3s;
          background-color: var(--beige-background);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  
          &:focus {
            outline: none;
            border: 1px solid var(--orange-color);
            // border-color: var(--orange-color);
            // box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
          }
        }
  
        .error {
          color: #e53935;
          font-size: 0.875rem;
          margin-top: 4px;
        }
      }
  
      button {
        padding: 12px;
        background: var(--btn-color-orange);
        color: #fff;
        font-weight: 600;
        font-size: 1rem;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s, transform 0.1s;
  
        &:hover {
          background: var(--btn-color-orange-hover);
          transform: translateY(-2px);
        }
  
        &:disabled {
          background: #a5b4fc;
          cursor: not-allowed;
        }
      }
    }
  
    @media (max-width: 600px) {
      padding: 16px;
  
      .form {
        gap: 12px;
  
        .field input {
          font-size: 0.95rem;
        }
  
        button {
          font-size: 0.95rem;
        }
      }
    }
  }
  