/* PartnersList.module.scss */

.container {
  width: 100%;
  background-color: var(--beige-background);
  padding: 100px 50px 50px 70px;  
  
}

.tittle {
  font-size: 32px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  color: var(--gray-color);
  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: calc(100% / 6 - 20px);
  min-width: 150px;
  text-align: center;  

  &:hover {
    opacity: 0.85;
  }
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легка тінь для виділення */
}

.partnerPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f0c5a0; /* Світлий помаранчевий фон для плейсхолдера */
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.name {
  font-family: var(--font-green);
  font-size: 1.5rem;
  color: var(--orange-color);  
}

// Медіа-запити для адаптивності
@media (max-width: 768px) {
  .tittle {
    font-size: 2rem;
  }
  .item {
    width: calc(100% / 3 - 20px);
  }
}

@media (max-width: 480px) {
  .item {
    width: 100px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  .name {
    font-size: 1.2rem;
  }
}