.container {
  padding: 120px 0 40px 0;
  max-width: 1400px;
  margin: 0 auto;  
  color:var(--dark-color);
  font-family: var(--primary-font-family);  
}

.imageWrapper { 
  width: 100%;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 25px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  margin-bottom: 40px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  border-top: 4px solid orange;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;  
}

.description {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 400;
  // text-align: center
}

/* Блоки статті */
.blocks {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


.blockTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.blockDescription {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

.readMoreButton {
  display: inline-block;
  padding: 10px 50px;
  background-color: var(--btn-color-green); 
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px; // Кругла форма кнопки
  text-align: center;
  text-transform: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  margin-top: 20px;

  &:hover {
      background-color: var(--btn-color-green-hover);
  }
}

.notFound {
  text-align: center;
  padding: 50px;
  font-size: 22px;  
}

